@charset "UTF-8";
body{
	background-color: #D1F8EF;
}

.input-login{
	margin-top: 0%;
	margin-left: 47%;
	margin-right: 50%;
	border: 20px fixed;
	border-bottom: 10px ;
	border-bottom-color: #3674B5;
}

.login-container{
	border: 2px solid #3674B5;   /* Borda escura */
    padding: 40px;            /* Espaçamento interno */
    width: 300px;     
    height: 300px;        /* Largura fixa */
    margin: 100px -140px auto;
    margin-top: 0px;
    border-radius: 10px;      /* Borda arredondada (opcional) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
}

button {
      width: 90%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      margin-left: 26px;
}

h1{
	text-align: center;
	margin-top: 5%;
}   

h4{
	text-align: center;
	color: red;
} 

